@using ExpenseTracker.Application.Requests.Wallet
@inject ExpenseTracker.Application.Stores.Interfaces.IWalletStore walletStore;
@inject ExpenseTracker.Application.Services.Interfaces.ICurrentUserService currentUserService;

@{
    var request = new GetWalletsRequest(currentUserService.GetCurrentUserId(), string.Empty);
    var isDashboard = ViewData["isDashboard"] == null
        ? false
        : (bool)(ViewData["isDashboard"]);
}

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExpenseTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpenseTracker.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.1.55/bootstrap5-dark.css" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/26.2.4/dist/ej2.min.js"></script>
</head>
<body class="e-bigger">
    <partial name="_Sidebar" />

    <div class="dock-target">
        <nav class="navbar sticky-top">
            <div class="container-fluid py-2 px-4">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Search..." class="search-input">
                    <a href="#" class="search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
                <div>
                    <div style="display: flex; align-items: center;">
                    @if (isDashboard)
                    {
                        <ejs-combobox id="wallets"
                                      name="wallets"
                                      width="250px"
                                      dataSource="@ViewBag.Wallets"
                                      value="@ViewBag.CurrentValue"
                                      allowObjectBinding="true">
                        </ejs-combobox>
                    }
                    <i class="fa-solid fa-bell"></i>
                    <i class="fa-solid fa-message"></i>
                    <div class="profile-pic" onclick="toggleDropdown()">
                        <img class="profile-pic" src="~/profile.jpg" />
                    </div>
                </div>
                    <!-- Dropdown menu -->
                    <div class="dropdown" id="dropdownMenu" style="width:200px">
                        <span>
                            <a asp-controller="Account" asp-action="Details" style="color:#1C375C" class=" fs-6 fw-bold"><i class="fa fa-user"></i> Shaxsiy kabinet</a>
                        </span>
                        <span>
                            <a asp-controller="Account" asp-action="Login" class="text-danger fs-6 fw-bold"><i class="fa-solid fa-right-from-bracket"></i> Chiqish</a>
                        </span>
                    </div>                    
                </div>
            </div>
        </nav>

        <div class="main-content">
            <div class="container mt-5 mb-5">
                <div class="row justify-content-center">
                    <div class="@(ViewData["isDashboard"] == null ? "col-md-10" : "col-md-12")">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('dropdownMenu');
            dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
        }
        window.onclick = function (event) {
            if (!event.target.matches('.profile-pic img')) {
                const dropdown = document.getElementById('dropdownMenu');
                if (dropdown.style.display === 'block') {
                    dropdown.style.display = 'none';
                }
            }
        }

   </script>
   <style>
        .dropdown {
            display: none;
            position: absolute;
            top: 65px;
            right: 0;
            background-color: white;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            width: 160px;
            border-radius: 10%;
        }

            .dropdown a {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: black;
                font-size: 14px;
                border-bottom: 1px solid #e5e5e5;
            }

                .dropdown a:hover {
                    background-color: transparent;
                }

                .dropdown a:last-child {
                    border-bottom: none;
                }

        .profile-page-text-color {
            color: #1C375C;
        }

   </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <ejs-scripts></ejs-scripts>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
